@media (max-width: 640px) {
  .section {
    padding: 3rem 0;
  }
}


#google-logo {
    margin-top: 160px;
    margin-bottom: 10px;
    position: relative;
}

.container {
    align-items: center;
    width: 50%;
}

@media (min-width: 641px) {
    .container {
        min-width: 640px;
        padding: 1.5rem;
    }
}

@media (max-width: 640px) {
    .container {
        width: 100%;
        min-width: 0;
    }
}

.search-box {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}


.gsc-webResult.gsc-result {
    padding: 16px 0 !important;
}

.gsc-control-cse .gs-spelling,
.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title * {
    font-size: 20px !important;
}

.gs-bidi-start-align .gs-visibleUrl .gs-visibleUrl-breadcrumb {
    font-size: 12px !important;
    color: #4d5156 !important;
}

.gsc-control-cse .gsc-table-result {
    font-size: 14px !important;
}

.gs-webResult div.gs-visibleUrl {
    font-size: 12px !important;
    color: #4d5156 !important;
}
